<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" class="h-100">
{% include head.html %}

<body>
  <div class="container-fluid">
      <div class="row mt-2">
        <div class="PageNavigation">
        {% if page.next %}
        <a class="next" href="{{page.next.url}}">⏪{{page.next.title}}</a>
        {% endif %}
        <span class="fs-6">{{ page.date | date: "%Y.%m.%d" }}</span><span>{{ page.title }}</span>
        {% if page.previous %}
            <a class="prev" href="{{page.previous.url}}">⏩{{page.previous.title}}</a>
        {% endif %}
      </div>
        <hr class="mt-1 mb-1">
        <div>
          {{ page.content }}
        </div>
      </div>

      <span class="badge text-bg-primary mb-3 rounded-0">{{ page.date | date: "%Y-%m-%d"}}</span>
    <div class="row">
      {%- include footer.html -%}
    </div>
  </div>
  </div>
  {% include script.html %}
</body>

</html>